body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif; 
}

.header {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    padding: 4px 100px;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px; 
}

.header-top {
    margin-top: 6px;
}

.header-bottom {
    gap: 50px;
}

.h-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.h-links, .sub-main-text {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(80%);
}

.h-links {
    display: flex;
    gap: 16px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-header-bottom {
    display: flex;
    flex-direction: column; 
    flex: 1;
    gap: 10px;
}

.right-header-bottom {
    flex: 1;
}

.right-header-bottom img {
    width: 100%;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 6px 28px;
    border: none;
    box-sizing: border-box;
    color: #E5E7EB;
}

.r-info {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 90px;
}

.r-info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
    text-align: center;
}

.r-info-content img {
    width: 100%;
    border-radius: 10px;
}

.quote-border {
    padding: 70px 150px;
}

.quote-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #E5E7EB
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-person {
    display: flex;
    font-weight: bold;
    justify-content: end;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}